html,body{
    margin: auto;
}
.containerAddUtilisateur{
    width: 500px;
    margin: 20px auto;
}
.preview{
    padding: 10px;
    position: relative;
}
.preview i{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}
.preview-img{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}
.browse-button{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 132px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}
.browse-button:hover{
    opacity: 1;
}
.browse-input{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}
.form-group{
    width:  250px;
    margin: 10px auto;
}
.form-group input{
    transition: 0.3s linear;
}
.form-group input:focus{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}
.Error{
    color: crimson;
    font-size: 13px;
}
.Back{
    font-size: 25px;
}
table, th, td, .semainier{
    text-align: center;
}

/* NAVBAR (header) */
.navbar {
    height: 50px;
}
/* Menu CAROUSEL (header) */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item{
  opacity: 0.55;
  height: 50px;
}
.carousel-caption{
  color: #ffffff;
  background-color: #00000057;
}
.separationHeader{
  width:100%;
  height:2px;
  background-color : #343a40;
}
/* FOOTER (footer) */
#footer{
  height: 5%;
  background-color : #343a40;
  color: #fff;
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}
/* Ajout d'un event (ajouterEvenement) */
.containerEvent{
    background-color : #9baab7;
    padding: 15px;
}
/* Box */
.box-form {
  width: 300px;
  position: relative;
  z-index: 1;
  margin-left: 30%;
  margin-right: auto;
}
.box-login-tab {
	width: 400px;
	height: 40px;
	background: #fdfdfd;
	position: relative;
	float: left;
	z-index: 1;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	        transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
     -moz-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
          box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}
.box-login-title {
	width: 100%;
	height: 40px;
	position: absolute;
	float: left;
	z-index: 2;
  margin-left: 10px;
}
.box-login {
  position: relative;
  top: -4px;
  width: 500px;
  background: #fdfdfd;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
   border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
  -webkit-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
     -moz-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
          box-shadow: 15px 30px 30px rgba(0,0,0,0.32);

    padding: 10px;
}
